/* General Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
}

/* Sidebar */
.sidebar {
    height: 100vh;;
    top: 0;
    left: 0;
    padding: 20px;
}

.sidebar .nav-link {
    font-size: 16px;
    padding: 10px;
}

.sidebar .nav-link:hover {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
}

/* Main Content */
main {
    padding-top: 20px;
}

/* Dashboard Cards */
.card {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    transition: 0.3s;
}

.card:hover {
    transform: scale(1.05);
}
